body,
html {
  background: #fff;
  color: #69606b;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5em;
  font: 13px/1.231 sans-serif;
  -webkit-font-smoothing: antialiased;
}
.container {
  background-color: #fff;
  width: 960px;
  height: 3000px;
  overflow: hidden;
  position: absolute;
  padding: 0px !important;
  left: calc(50% - 480px);
  min-width: 960px;
  max-width: 960px;
}
#hero.masthead {
  background-image: url("../img/welder-free.jpg");
  padding: 5rem 0rem !important;
  margin: 0rem;
  background-color: #0d0d0d !important;
  height: 500px;
  overflow: hidden;
}
#hero.masthead .column {
  position: relative;
}
#hero.masthead .column .information {
  position: relative;
  margin: 1em 1em 1em 3em;
  margin-top: 0;
  left: calc(50% - 40px);
  font-family: 'Raleway', Arial, sans-serif;
}
.showyeffect .feature-image {
  position: relative;
  background-size: cover;
  top: -200px;
  left: calc(50% - 480px);
  width: 960px;
  height: 640px;
  background-image: url("../img/welder-free.jpg");
  transition-duration: 0.5s;
}
.showyeffect .feature-image ::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 101%;
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, #fff 100%) !important;
  transition-duration: 0.5s;
}
#caption {
  text-shadow: 4px 4px #000;
  font-size: 45px;
  position: absolute;
  left: -450px;
  top: -550px;
  width: 300px;
  line-height: 3.5rem;
  font-family: Helvetica, Arial, sans-serif !important;
}
#caption .emp {
  color: #800000;
  display: inline-block;
}
#diamonds {
  margin-top: 50px;
  display: blocking;
}
#diamonds .header {
  color: #800000;
}
.icon {
  color: #000;
}
.ui.centered.grid .header {
  font-weight: bold;
  font-size: 130%;
  margin: 1em;
}
.vetsuccess {
  text-decoration: underline;
}
.horizontal.header.divider {
  padding: 0.5em 0em 0.5em 0;
}
.horizontal.header.divider:before,
.horizontal.header.divider:after {
  border-color: rgba(77,77,77,0.4);
}
i.bar.char.icon {
  width: 400px;
  display: blocking;
}
#windh3 {
  position: relative;
  padding-top: 30px;
  padding-bottom: 0;
  margin-left: 0px;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 115%;
  display: inline-block;
  color: #8b0000;
  border-bottom: 2px rgba(77,77,77,0.4) solid;
}
#windspecs {
  padding-left: 40px;
  display: flexbox;
  height: 225px;
  margin: auto;
  line-height: 1.5em;
  width: 100%;
}
#windspecs p {
  text-align: justify !important;
  width: 100%;
  left: -25px;
  padding-right: 10px;
}
#windspecs ul {
  width: 285px;
}
#windtunnel {
  background-image: url("../img/windtunnel.jpg");
  background-size: cover;
  width: 700px;
  height: 400px;
  float: right;
  margin-top: 40px;
  display: blocking;
  transition: all 1.2s ease-in-out;
}
#windtunnel-animation {
  text-align: center;
  position: relative;
  margin: 0px;
  padding: 0px;
  border-radius: 2%;
  padding-left: 50px;
}
#obstacle {
  position: absolute;
  left: 440px;
  top: 180px;
  width: 30px;
  overflow: hidden;
  border-radius: 1%;
  height: 300px;
  background-color: #656565;
  color: #656565;
}
#footer-div {
  padding: 2.5em 0em 1.5em 0;
}
#footer-div:before,
#footer-div:after {
  border-color: rgba(77,77,77,0.4);
}
#contact-wrap {
  padding-top: 50px;
  height: 600px;
  width: 100%;
}
#contact-wrap form {
  float: left;
  width: 50%;
  padding-top: 2rem !important;
}
#contact-wrap form section>label {
  width: 40%;
  float: left;
  text-align: right;
  padding: 2%;
}
#contact-wrap form .needed {
  font-weight: bold;
  font-size: 160%;
  float: left;
  padding-left: 40px;
}
#contact-wrap form input {
  width: 60%;
  float: right;
  border-radius: 3%;
  padding: 2%;
  border-style: solid;
  box-shadow: none;
  border: 0;
  border-bottom-width: 1px;
  border-bottom-color: #000;
  border-bottom-style: solid;
}
#contact-wrap form input:focus {
  outline: none;
  border-bottom-color: #008080;
  border-bottom-width: 1px;
  border-bottom-style: dashed;
}
#contact-wrap form input:required:invalid,
#contact-wrap form input:focus:invalid {
  -moz-box-shadow: none;
  border-bottom-color: #f00;
  border-bottom-width: 1px;
  border-bottom-style: ridge;
}
#contact-wrap form input:required:valid {
  -moz-box-shadow: none;
  border-bottom-color: #008000;
  border-bottom-width: 1px;
  border-bottom-style: ridge;
}
#contact-wrap form textarea {
  width: 90%;
  display: inline-block;
  margin-left: 10%;
  height: 6rem;
}
#contact-wrap form textarea:required:invalid,
#contact-wrap form textarea:focus:invalid {
  -moz-box-shadow: none;
  border-color: #f00;
  border-width: 1px;
  border-style: ridge;
}
#contact-wrap form textarea:required:valid {
  -moz-box-shadow: none;
  border-color: #008000;
  border-width: 1px;
  border-style: ridge;
}
#contact-wrap header {
  margin: auto;
  font-size: 140%;
  font-weight: bold;
  border-bottom: 2px rgba(77,77,77,0.4) solid;
  width: 300px;
  margin-bottom: 30px;
}
#contact-wrap p {
  line-height: 2em;
  width: 45%;
  float: right;
  padding: 120px 30px 0px 30px;
  text-align: center;
}
#contact-wrap .contact-form>header {
  color: #8b0000;
  width: 960px;
  text-align: right;
  overflow: visible;
  position: relative;
  left: 0px;
  padding-right: 35px;
}
#contact-wrap .contact-form .r {
  width: 100%;
  display: inline-block;
  line-height: 1rem;
}
#contact-wrap .contact-form .r .c30 {
  width: 30%;
}
#contact-wrap .contact-form .r .c70 {
  width: 70%;
}
#contact-wrap .contact-form .r .c50 {
  width: 50%;
}
#contact-wrap .contact-form .r .c25 {
  width: 25%;
}
#contact-wrap .contact-form .r .c75 {
  width: 75%;
}
#contact-wrap .buttons {
  position: relative;
  top: -90px;
  left: 650px;
}
#contact-wrap .checkbox {
  position: relative;
  padding: 0 !important;
  width: 400px;
  top: -130px;
  left: 500px;
  float: right;
}
.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}
.fadeInSlideUp {
  animation-name: fadeInSlideUp;
}
@-moz-keyframes fadeInSlideUp {
  0% {
    opacity: 0;
    transform: translateY(100%);
    visibility: visible;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@-webkit-keyframes fadeInSlideUp {
  0% {
    opacity: 0;
    transform: translateY(100%);
    visibility: visible;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@-o-keyframes fadeInSlideUp {
  0% {
    opacity: 0;
    transform: translateY(100%);
    visibility: visible;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeInSlideUp {
  0% {
    opacity: 0;
    transform: translateY(100%);
    visibility: visible;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
