body,html
    background: #fff
    color: #69606b
    font-weight: 400
    font-size: 20px
    line-height: 1.5em
    font: 13px/1.231 sans-serif;
    -webkit-font-smoothing: antialiased
    
.container
    background-color: white
    width: 960px
    height: 3000px
    overflow: hidden
    position: absolute
    padding: 0px !important
    left: calc(50% - 480px)

    min-width: 960px
    max-width: 960px

#hero.masthead
    background-image: url(../img/welder-free.jpg )
    padding: 5rem 0rem !important
    margin: 0rem
    background-color: lighten(black,5%) !important

    height: 500px
    overflow: hidden

    .column
        position: relative 
        
        .information
            position: relative
            margin: 1em 1em 1em 3em
            margin-top: 0
            left: calc(50% - 40px)
            font-family: 'Raleway', Arial, sans-serif

.showyeffect
    .feature-image
        position: relative
        background-size: cover
        top: -200px
        left: calc(50% - 480px)
        width: 960px
        height: 640px
        background-image: url(../img/welder-free.jpg)
        transition-duration: 0.5s;

        ::after
            content: '';
            position: absolute;
            width: 100%;
            height: 101%;
            top: 0;
            left: 0;
            opacity: 0;
            pointer-events: none;
            background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%) !important;

            transition-duration: 0.5s;


#caption
    text-shadow: 4px 4px #000000
    font-size:   45px
    position:    absolute
    left:        -450px
    top:         -550px
    width:       300px
    line-height: 3.5rem
    font-family: Helvetica, Arial, sans-serif !important
    
    .emp
      color: maroon
      display: inline-block
    


#diamonds
    margin-top: 50px
    display: blocking
    .header
        color: maroon

.icon
        color: black // darken(blue,80%);

.ui.centered.grid
    
    

    .header
        font-weight: bold
        font-size: 130%
        margin: 1em

.vetsuccess
    text-decoration: underline

.horizontal.header.divider
    padding: .5em 0em .5em 0

    &:before, &:after
        border-color: lighten(rgba(.4,.4,.4,0.4),30%)

i.bar.char.icon
    width: 400px
    display:blocking
    
#windh3
    position: relative
    padding-top: 30px
    padding-bottom: 0
    margin-left: 0px
    margin-bottom: 20px
    font-weight: bold
    font-size: 115%
    display: inline-block
    color: darkred
    border-bottom: 2px lighten(rgba(.4,.4,.4,0.4),30%) solid;

#windspecs
    padding-left: 40px
    display: flexbox
    height: 225px
    margin: auto
    line-height: 1.5em
    width: 100%

    p
        text-align: justify !important
        width:100%
        left: -25px
        padding-right: 10px

    ul
        width 285px
    
#windtunnel
    background-image: url(../img/windtunnel.jpg)
    background-size: cover
    width: 700px
    height: 400px
    float:right
    margin-top: 40px
    display:blocking
    
    transition: all 1.2s ease-in-out

#windtunnel-animation
    text-align: center
    position: relative
    margin: 0px;
    padding: 0px;
    border-radius: 2%
    padding-left: 50px

#obstacle
    position:absolute
    left:440px
    top:180px
    width:30px
    overflow:hidden
    border-radius: 1%
    height: 300px
    background-color: darken(darkgray,40%)
    color: darken(darkgray,40%)

#footer-div
    padding: 2.5em 0em 1.5em 0

    &:before, &:after
        border-color: lighten(rgba(.4,.4,.4,0.4),30%)

#contact-wrap
    padding-top: 50px
    height: 600px
    width: 100%

    form
        float: left
        width: 50%
        padding-top: 2rem !important

        section>label
            width:40%
            float:left
            text-align: right
            padding: 2%

        .needed
            font-weight: bold
            font-size: 160%
            float:left
            padding-left: 40px

        input
            width:60%
            float:right

            border-radius: 3%
            padding: 2%
            border-style: solid
            box-shadow: none
            border: 0
            border-bottom-width: 1px
            border-bottom-color: black
            border-bottom-style: solid

            &:focus
                outline: none
                border-bottom-color: teal
                border-bottom-width: 1px
                border-bottom-style: dashed

            &:required:invalid, &:focus:invalid
                -moz-box-shadow: none
                border-bottom-color: red
                border-bottom-width: 1px
                border-bottom-style: ridge


            &:required:valid
                -moz-box-shadow: none
                border-bottom-color: green
                border-bottom-width: 1px
                border-bottom-style: ridge

        textarea
            width: 90%
            display: inline-block
            margin-left: 10%
            height: 6rem

        textarea:required:invalid, textarea:focus:invalid
            -moz-box-shadow: none
            border-color: red
            border-width: 1px
            border-style: ridge

        textarea:required:valid
            -moz-box-shadow: none
            border-color: green
            border-width: 1px
            border-style: ridge

    header
        margin: auto
        font-size: 140%
        font-weight: bold
        border-bottom: 2px lighten(rgba(.4,.4,.4,0.4),30%) solid
        width:300px
        margin-bottom: 30px
    p
        line-height: 2.0em
        width:45%
        float:right
        padding: 120px 30px 0px 30px
        text-align: center

    .contact-form>header
            color: darkred
            width: 960px
            text-align: right
            overflow: visible
            position: relative
            left: 0px
            padding-right: 35px

    .contact-form
            .r
                width: 100%
                display: inline-block
                line-height: 1.0rem

                .c30
                    width: 30%
                .c70
                    width: 70%
                .c50
                    width: 50%
                .c25
                    width: 25%
                .c75
                    width: 75%

    .buttons
        position: relative
        top: -90px
        left: 650px

    .checkbox
        position:relative
        padding: 0 !important
        width: 400px
        top: -130px
        left: 500px
        float: right



.animated
    animation-duration: 1s
    animation-fill-mode: both

@keyframes fadeInSlideUp
    0%
        opacity: 0
        transform: translateY(100%);
        visibility: visible;
    100%
        opacity: 1
        transform: translateY(0);

.fadeInSlideUp
    animation-name: fadeInSlideUp